<h3>&nbsp;清明上河图&nbsp;<span class="label label-danger">哎</span></h3>

<div class="qingming">
  <%= image_tag 'qingming/1.jpeg' %>
  <%= image_tag 'qingming/2.jpeg' %>
  <%= image_tag 'qingming/3.jpeg' %>
  <%= image_tag 'qingming/4.jpeg' %>
  <%= image_tag 'qingming/5.jpeg' %>
  <%= image_tag 'qingming/6.jpeg' %>
  <%= image_tag 'qingming/7.jpeg' %>
</div>